body {
    padding: 0;
    margin: 0 auto;
    width: 95%;
    font-family: 'Josefin Sans', sans-serif;
}
nav {
    margin: 0 auto;
    width: 100%; 
    padding-top: 10px;
    display: flex;
    background-color: #F1C1C0;    
}

.nav-title, .display-title {
    color: #e73a37;
    font-weight: bold;
}

.nav-title{
    padding: 25px 0 30px 25px;    
}

.display-title {
    padding: 5px;    
}

form {
    display: flex;
    padding: 20px 20px;     
    width: 80%; 
    margin: 0;       
}

#productEntry, #priceEntry, #categoryEntry, #imgEntry, .btn {
    margin: 0 8px;
    font-size: 1.2rem;
}

#priceEntry, #categoryEntry {
    width: 50%;    
}

#categoryEntry {
    color: gray;
}

.btn-danger {
    background-color: #e73a37;
}

.displayProds {
    width: 70%;
    margin: 130px auto 0 auto;     
}

table {    
    border-collapse: collapse;
    width: 100%;    
    font-size: 1.2rem;
    color: rgb(88, 88, 88);
    border-radius: 5px; 
}
  
td, th {
border: 1px solid #F1C1C0;
text-align: left;
padding: 8px;
}

tr:nth-child(odd) {
background-color: #FBF5F5;
}

th {
background-color: #F1C1C0;
color: #e41f1c;    
}

@media only screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
    }
    .nav-title{
        padding: 5px 5px 0 30px;    
    }

    form {
        flex-wrap: wrap;  
    }

    #productEntry, #priceEntry, #categoryEntry, #imgEntry, .btn {
        width: 50%; 
        font-size: 1rem;
    }

    .displayProds {        
        margin: 320px 0 0 0;     
    }

    table {              
        font-size: 0.8rem;       
    }

    td, th {
        padding: 5px;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
    }
}